spring:
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: transaction-service
          uri: lb://transaction
          predicates:
            - Path=/api/transaction/**
          filters:
            - AuthFilter

        - id: auth-service
          uri: lb://auth
          predicates:
            - Path=/api/verif/**

server:
  port: 8080

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://eureka-server:8761/eureka/  # TAMBAHKAN INI
  instance:
    prefer-ip-address: true