spring:
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: transaction-service
          uri: lb://transaction
          predicates:
            - Path=/api/transaction/**
          filters:
            - AuthFilter

        - id: report-service
          uri: lb://report
          predicates:
            - Path=/api/reports/**
          filters:
            - AuthFilter

        - id: notification-service
          uri: lb://notification
          predicates:
            - Path=/api/notifications/**
          filters:
            - AuthFilter

        - id: auth-service
          uri: lb://auth
          predicates:
            - Path=/api/verif/**

server:
  port: 8080

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always